<div class="section footer">
  <div class="page-wrapper">
    <div class="main-wrapper">
      <section class="footer">
        <div class="padding-global">
          <div class="container-medium w-container">
            <div class="padding-vertical-large">
              <div class="w-layout-grid footer-grid">
                <div id="w-node-c3b1268a-6a14-dd3c-598c-5426bbbc8324-bbbc8321" class="footer-column-wrapper">
                  <p class="address-footer bold">Trevillyan Labs, LLC<br></p>
                  <p class="address-footer">Mountain View, CA<br></p>
                  <a id="footer-contact-email-link" href="#" class="contact-email mixpanel-trigger w-inline-block">
                    <div class="dark-gray">bill@trevillyanlabs.com</div>
                  </a>
                  <div class="social-media-wrapper">
                    <a href="https://twitter.com/home" target="_blank" class="social-media-link hidden w-inline-block"><img src="images/sm_twitter_blackBG.svg" loading="lazy" alt="Twitter Icon" class="image-contain">
                      <div class="social-media-hover"></div>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="social-media-link hidden w-inline-block"><img src="images/sm_facebook_blackBG.svg" loading="lazy" alt="Facebook Icon" class="image-contain">
                      <div class="social-media-hover"></div>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="social-media-link hidden w-inline-block"><img src="images/sm_instagram_blackBG.svg" loading="lazy" alt="Instagram Icon" class="image-contain">
                      <div class="social-media-hover"></div>
                    </a>
                    <a id="footer-linkedin-icon-button" href="https://www.linkedin.com/company/trevillyan-labs/about/" target="_blank" class="social-media-link mixpanel-trigger w-inline-block"><img src="images/linkedin-1-1.svg" loading="lazy" alt="LinkedIn Logo Icon White" class="image-contain">
                      <div class="social-media-hover"></div>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" class="social-media-link hidden w-inline-block"><img src="images/sm_youtube_blackBG.svg" loading="lazy" alt="Youtube Icon" class="image-contain">
                      <div class="social-media-hover"></div>
                    </a>
                  </div>
                </div>
                <div class="footer-column-wrapper">
                  <a id="footer-patents-button" href="/patents"{{FOOTER_PATENTS_ARIA}} class="nav-link footer mixpanel-trigger w-inline-block{{FOOTER_PATENTS_CUR}}">
                    <div class="nav-footer-text">Patents</div>
                  </a>
                  <a id="footer-team-button" href="/team"{{FOOTER_TEAM_ARIA}} class="nav-link footer mixpanel-trigger w-inline-block{{FOOTER_TEAM_CUR}}">
                    <div class="nav-footer-text">Team</div>
                  </a>
                  <a id="footer-contact-button" href="/contact"{{FOOTER_CONTACT_ARIA}} class="nav-link footer mixpanel-trigger w-inline-block{{FOOTER_CONTACT_CUR}}">
                    <div class="nav-footer-text">Contact</div>
                  </a>
                </div>
                <div class="footer-column-wrapper"></div>
                <a id="footer-logo-button" href="/"{{FOOTER_LOGO_ARIA}} class="footer-logo mixpanel-trigger w-node-c3b1268a-6a14-dd3c-598c-5426bbbc835b-bbbc8321 w-inline-block{{FOOTER_LOGO_CUR}}"><img src="images/Group-14-3.svg" loading="lazy" alt="Trevillyan Labs Logo White" class="footer-logo"></a>
              </div>
              <div class="div-block">
                <div class="text-block-2">Copyright © 2026 Trevillyan Labs, LLC. All rights reserved.</div>
                <div class="div-block-3 w-clearfix">
                  <a id="footer-privacy-policy-button" href="/privacy-policy" class="private-policy-link mixpanel-trigger w-inline-block">
                    <div class="footer-link-text">Privacy Policy</div>
                  </a>
                  <a id="footer-terms-conditions-button" href="/terms" class="private-policy-link mixpanel-trigger w-inline-block">
                    <div class="footer-link-text">Terms &amp; Conditions</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
